#logButton {
  /* Sets default value of the buttons */
  transform: scale(1);
  transition: transform ease 0.2s;
}

#logButton:hover {
  /* Makes the button bigger on hover */
  background-color: #FF0000;
  transform: scale(1.11);
}
