body {
  /* Sets background color (or image) of the page */
  background-color: #302d2d;
}

#title{
  /* Sets the text in the middle */
  text-align: center;

  /* Sets a custom font */
  font-weight: 900;
  font-family: arial;
  font-size: 50px;

  /* Sets colors */
  background-color: #FF0000;
  color: white;

  /* Sets parameters */
  margin: 14px;
}

#containerFirstTag {
  /* Sets the position of the container of the newspaper image */
  position: relative;
  text-align: center;
}

#firstTagLine {
  /* Centers the tag line in the image */
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Sets a custom font */
  color: white;
  font-size: 30px;
  font-weight: 900;
  font-family: arial;

  /*Creates a gradient to make text more readable (https://cssgradient.io/)*/
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 35%, rgba(0,212,255,0) 100%);
}

#logButton {
  /* Sets font settings */
  font-weight: 900;
  font-family: arial;
  font-size: 25px;

  /* Sets colors */
  background-color: #0000FF;
  color: white;

  /* Sets parameters */
  width: 450;
  height: 50;
  border: 1px solid transparent;
  margin: 10px;
}

/* Sets corners */
#logButton {border-radius: 6px;}
#title {border-radius: 6px;}
#firstTagimg {border-radius: 6px;}
